nav.navbar.navbar-default
                div.navbar-header
                    a.navbar-brand(href="/") Tell a Story
                ul.nav.navbar-nav
                    li
                        a(href="/") Stories
                    if user
                        li
                           a(href="/createStory") Create a Story 
                    li
                        if user
                            include ./userModal.jade
                        else
                            include ./loginModal.jade