nav.navbar.navbar-default
                div.navbar-header
                    a.navbar-brand(href="/") Tell a Story
                ul.nav.navbar-nav
                    li
                        a(href="/") Stories
                    li
                        a(href="/login") Login
                    li
                        include ./loginModal.jade



if user
    p Welcome, #{user.username}!
    a(href="http://localhost:3000/logout") Sign Out
else
    form(action="http://localhost:3000/login", method="post")
        input(type="text", placeholder="Username", name="username")
        input(type="password", placeholder="Password", name="password")
        input(type="submit", value="Sign In")