extends layout

block content
    p Search
    form(method="get", action="/")
        input(type="text", name="search")
        input(type="submit" value="Search")
    br
    h1 All Stories
    each item in stories
        include storyPartial