extends layout

block content
    br
    h1 All Stories
    if stories.length > 0
        each item in stories
            include storyPartial
    else
        p Found no stories matching your search