doctype html
html
    head
        meta(charset="utf-8")
<<<<<<< HEAD
        title #{title}
<<<<<<< HEAD
=======
        link(href='/css/style.css', rel='stylesheet')
        link(href='/css/bootstrap.min.css', rel='stylesheet')
>>>>>>> 9d2aebade53a191b38da5339ad1f83f543ed75b7
=======
        title= title
>>>>>>> b539d2165d1bf5d260e0a9efdb908c4c41458234
    body
        header
            include ./partials/header.jade
        block content
        footer