doctype
html
    head
        title Story Page
    body
        h1 Story Title
        div
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies commodo felis, lobortis vulputate erat congue vitae. Morbi tempor lorem at tempor posuere. Quisque mauris lacus, sollicitudin in viverra non, mollis fringilla nunc. Proin quis lorem volutpat, vehicula felis et, rhoncus nibh. Phasellus nec quam libero. Duis cursus, mi id rhoncus consequat, mauris turpis blandit quam, ut rhoncus felis nibh et urna. Proin massa sem, mollis vel nisl id, ornare placerat tellus. Nullam nulla metus, aliquet in fringilla at, finibus vitae erat. Fusce at mauris diam. Cras sit amet ipsum vitae risus ultrices aliquam. Nunc eget libero sapien. Proin et hendrerit risus. Morbi ut lacinia risus.
        form(id = 'button',  method='post', action='/edit')
        //make this bigger
        input(name='story')
        input(type='submit', value='Edit')
        form(id = 'button',  method='post', action='/finish')
        input(type='submit', value='Finish')