block content
        h1 Story Title
        div
            p #{story}
        form(id = 'button',  method='post', action='/edit/')
        //make this bigger
        input(name='story')
        input(type='submit', value='Edit')
        form(id = 'button',  method='post', action='/finish')
        input(type='submit', value='Finish')